.section1 {
  margin-top: -430px;
  position: relative;
  z-index: 10;
  padding: 0 50px;
 .two-col-equal {
  .col{
    padding: 0 50px;
    .line {
      width: 60px;
      border-bottom: 1px solid #fff;
      margin-top: 50px;
    }
    .btn-learn {
      text-decoration: none;
      color: var(--primary);
      border-radius: 5px;
      display: inline-flex;
      i {
        margin-right: 10px;
        font-size: 18px;
        transform: translateY(2px);
      }
      transition: .3s;
      &:hover {
        transition: .3s;
        opacity: 70%;
      }
    }
  }
 }
}

.howItWorks {
  text-align: center;
  color: var(--black80);
  padding: 100px 100px 0 100px;
  .three-col-equal {
    margin-top: 50px;
    .col {
      padding: 20px;
      i {
        font-size: 50px;
        color: var(--primary);
      }
    }
  }
}

.faqs {
  padding: 0 100px;
  margin-top: 80px;
  .col .faqs-text {
    font-size: 55px;
    color: var(--black80);
  }
}

@media (max-width: 1270px) {
  .section1 {
    .two-col-equal {
      .col {
        padding: 0;
      }
    }
  }
  .howItWorks {
    padding: 80px 50px 0 50px;
  }
  .faqs {
    padding: 0 50px;
    .col .faqs-text {font-size: 45px;}
  }
}
@media (max-width: 950px) {
  .section1 {
    .two-col-equal .col .line {
      margin-top: 0;
    }
  }
  .faqs .col2 {margin-top: 30px;}
}
@media (max-width: 550px) {
  .section1, .howItWorks, .faqs {padding: 0 20px;}
  .howItWorks {
    margin-top: 80px;
    .three-col-equal .col {padding: 0; margin-top: 30px;}
  }
}
@media (max-width: 460px) {
  .section1 {
    margin-top: -370px;
    .col2 {
      margin-top: 30px !important;
      .form {
        .back-arrow {display: none;}
      }
    }
  }
  .faqs .col .faqs-text {font-size: 28px;}
}